{% load staticfiles %}
{% load thumbnail %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/portfolio.css' %}">
<title>{% block title %}Welcome to my portfolio{% endblock %}</title>
{% block extrascripts %}{% endblock %}
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>
