{% extends 'portfolio/base.html' %}

{% block content %}

    {% if study %}
    <h1>Thank you for your comment</h1>
    <p>Return back to <a href="{% url 'portfolio:detail' study.id %}">{{ study }}</a></p>

    {% else %}
    <p>Whoa, how did you get here???</p>
    {% endif %}

{% endblock %}
