{% extends 'portfolio/base.html' %}

{% block title %}{{ study.title }}{% endblock %}

{% block extrascripts %}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<script>
$(function () {
    $('#comment-form').submit(
        function (evt) {
            alert ('Just tried to submit');
            // Don't really submit the form
            evt.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: 'post',
                data: $(this).serialize(),
                success: function (data) {
                    alert('Successfully posted your comment.');
                },
                error: function () {
                    alert('Can\'t post your comment.');
                },
            });

            return false;
        });
});
</script>

{% endblock %}

{% block content %}

    {% if study %}
    <h1 id="title">{{ study.title }} (ajax version)</h1>
    <img src="{{ MEDIA_URL }}{{ study.picture }}" /><br/>
    <p>{{ study.description|safe }}</p>

    <form action="{% url 'portfolio:detail' study.id %}" method="POST" id="comment-form">
    <table>
    {% csrf_token %}
    {{ form }}
    </table>
    <button>Leave a comment</button>
    </form>


    {% else %}
    <p>No studies here, bud.</p>
    {% endif %}

{% endblock %}
