{% extends 'portfolio/base.html' %}

{% block content %}

    {% if study %}
    <h1>{{ study.title }}</h1>
    <img src="{{ MEDIA_URL }}{{ study.picture }}" /><br/>
    <p>{{ study.description|safe }}</p>

    <form action="{% url 'portfolio:detail' study.id %}" method="POST" id="comment-form">
    <table>
    {% csrf_token %}
    {{ form }}
    </table>
    <button>Leave a comment</button>
    </form>


    {% else %}
    <p>No studies here, bud.</p>
    {% endif %}

{% endblock %}
